Source: telecentros
Section: gnome
Priority: extra
Maintainer: Wilson Pinto Júnior <wilson@openlanhouse.org>
Build-Depends: debhelper (>= 6), autotools-dev, libpanel-applet2-dev, libdbus-glib-1-dev, 
Standards-Version: 3.7.3
Homepage: http://lethus.com.br

Package: telecentros
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, python-gtk2, python-dbus
Description: Cliente do Telecentros
